.footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    font-size: large;
    height: 85px;
    position: absolute;
    bottom: -70vh;
    width: 100%;
    padding: 10px;
  
}
.icon{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    font-size: larger;
   
}