* {
  padding: 0;
  margin: 0;
}
.app {
  background-color: rgb(251, 251, 251);
  position: relative;
}
.app .movies {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.searchNav {
  display: flex;
  flex-wrap: wrap;
}
