* {
  padding: 0;
  margin: 0;
}
.app {
  margin: 1.5rem;
  padding: 5px;
  background-color: rgb(251, 251, 251);
}
.movies {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.searchNav {
  display: flex;
  flex-wrap: wrap;
}

