* {
  padding: 0;
  margin: 0;
}
.app {
  /* margin: 1.5rem;
  padding: 5px; */
  background-color: rgb(251, 251, 251);
}
.app .movies {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}
.searchNav {
  display: flex;
  flex-wrap: wrap;
}
